<!DOCTYPE html>
<html>

<head><title> First way to financial success </title>
        <link href="/static/styles/final_styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<img class="myImg" id="myImg1" src="{{img_source1}}" alt="Estimated growth of your portfolio">
<img class="myImg" id="myImg2" src="{{img_source2}}" alt="Estimated growth of your stocks">


<!-- The Modal -->
<div id="myModal1" class="modal">
  <span class="close" id="s_close1">&times;</span>
  <img class="modal-content" id="img01">
  <div class="caption" id="caption1"></div>
</div>

<div id="myModal2" class="modal">
  <span class="close" id="s_close2">&times;</span>
  <img class="modal-content" id="img02">
  <div class="caption" id="caption2"></div>
</div>


<!--{{name}}-->
<script src="/static/scripts/final_results.js"></script>
</body>
</html>